<div class="container">
<form class="form-horizontal">
	

	<div class="form-group">
		<label class ="control-label col-sm-2" for="name">Name:</label>
		<input type="text" id="name" ng-model="name">
	</div>
	<div class="form-group">
		<label class ="control-label col-sm-2" for="description">Description:</label>
		<input type="text" id="description" ng-model="description">
	</div>
	<div class="form-group">
		<label class ="control-label col-sm-2" for="url">Url:</label>
		<input type="text" id="url" ng-model="url">
	</div>
	<button class="btn " ng-click="addItem()"> Add </button>
	<div ng-show = "showThumbs" class="container">
		<h1>Select Thumbnail</h1>
		<div  ng-repeat="thumb in thumbList track by $index">
			<div class="col-sm-2">
				<img class = "thumbnail"  src="{{thumb}}" ng-click="select($index)">
			</div>
		</div>
	</div>
	
	
 </form>
</div>