<script src="/static/js/angularApp/Controllers/HomeController.js"></script>
<script src="/static/js/angularApp/Controllers/RegisterController.js"></script>
<script src="/static/js/angularApp/Controllers/LoginController.js"></script>
<script src="/static/js/angularApp/Controllers/WishlistController.js"></script>
<script src="/static/js/angularApp/Controllers/LogoutController.js"></script>
<script src="/static/js/angularApp/Controllers/NewItemController.js"></script>
<script src="/static/js/angularApp/Controllers/ShareController.js"></script>